<%if(ViewArray.length > 0){ %>
    <% ViewArray.forEach(function(row){%>
      <tr>
        <td><%= row.Status %></td>
        <td><%= row.Doctor_Name %></td>
        <td><%= row.Doctor_UserName %></td>
        <td><%= row.patient_name %></td>
        <td><%= row.Patient_ID %></td>
        <td><%= row.String_Date %></td>
        <td><%= row.Sample_ID %></td>
        <td><%= row.Lab_Type %></td> 
        <td><%= row.Description %></td>  
        <td><%= row._id %></td>
     </tr>
    <%});%>
  <%}else{%>
        <tr>
            <td colspan="6"> No Record Found </td>
        </tr>
    <% } %>