<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="../Assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../Assets/css/bootstrap.css">
    <link rel="stylesheet" href="../Assets/css/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="../Assets/system.css">
    <link rel="stylesheet" href="../Assets/css/bootstrap.css">
    <link rel="stylesheet" href="../Assets/css/responsive.css">
    <link href="../assets/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../assets/style.min.css" rel="stylesheet">
    <link href="../assets/css/theme.css" rel="stylesheet">
    <link href="../assets/css/seatdeesign.css" rel="stylesheet">
    <link href="../assets/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../assets/css/style.min.css" rel="stylesheet" type="text/css" media="all" />
    <style>
    body{
    font-family: 'Arvo', serif;
    }
       #Container{
         max-width: 680px;
         margin: auto;

       }
       #LogoImage{
        margin-top: -60px;
       }

       @media(max-width: 680px){
           #LogoImage{
             margin-top: -30px;
           }

           #LogoImage img{
                 margin-left: 90%;
           }

           #pull{
             margin-top: -20px;
           }
       }

       @media(max-width: 680px){
        #Container{
          max-width: 560px;
          margin: auto;
        }
       }

       @media(max-width: 420px){
        #Container{
          max-width: 360px;
          margin: auto;
        }
       }

       @media(max-width: 360px){
        #Container{
          max-width: 320px;
          margin: auto;
        }
       }
    </style>
    <script src="../assets/js/jquery-3.3.1.min.js"></script>

    <!--nav-->
    <script>
        $(function() {
            var pull = $('#pull');
            menu = $('nav ul');
            menuHeight = menu.height();
  
            $(pull).on('click', function(e) {
                e.preventDefault();
                menu.slideToggle();
            });
  
            $(window).resize(function() {
                var w = $(window).width();
                if (w > 320 && menu.is(':hidden')) {
                    menu.removeAttr('style');
                }
            });
        });
    </script>
</head>

<body>
    <div class="header_bg" style="background-color:white;">
        <div class="wrap">
            <div class="header" style="background-color:white;">
                <div class="logo">
                    <a href="/" id="LogoImage"><img src="../Assets/images/swiftnano.png" width="160px;" height="100px;" alt=""></a>
                </div>
                <div class="h_right">
                    <!--start menu -->
                    <ul class="menu">
                        <li><a href="/" style="color: #a81010;"><b>Home</b></a></li>
    
                        <li><a href="/users/CheckReservationLogin" style="color:#a81010;"><b>Manage Bookings</b></a></li>
                        <li><a href="/contactus" style="color:#a81010;"><b>Contact Us</b></a></li>
                        <li><a href="/ContomerService" style="color:#a81010;"><b>Customer Service</b></a></li>
                        <li><a href="/agents/Agentlogin" style="color:#a81010;"><b>Agent</b></a></li>
                    </ul>
                    <!-- start profile_details -->
    
                </div>
                <div class="clear"></div>
                <div class="top-nav">
                    <nav class="clearfix">
                        <ul>
    
    
                            <li><a href="/" style="color: white;"><b>Home</b></a></li>
    
                            <li><a href="/users/CheckReservationLogin" style="color:white"><b>Manage Bookings</b></a></li>
                            <li><a href="/contactus" style="color:white"><b>Contact Us</b></a></li>
                            <li><a href="/ContomerService" style="color:white"><b>Customer Service</b></a></li>
                            <li><a href="/agents/Agentlogin" style="color:white"><b>Agent</b></a></li>
                           
                        </ul>  
                        <a href="#" id="pull">Swiftnano</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
  <div id="Container" style="margin-top: -14px;">

    <h5 style="color: black; font-weight: bolder;">Payment Information. Type in your Payment information Below</h5>
    <label class="btn paymentMethod">
      <img src="../Assets/images/momo_logo.png"  width="90px;">
                          
      </label>
          <label class="btn paymentMethod">
      <img src="../Assets/images/Voda_logo.jpg"  width="90px;">
                         
      </label>
          <label class="btn paymentMethod">
          <img src="../Assets/images/air.jpg"  width="90px;">
                          
      </label>
 
    <div class="form-row">
        <div class="form-group col-sm-12  col-md-5" style="border: none;">
            <label for="inputPassword4">Amount Payable(GHS)</label>
            <input type="number" class="form-control" value="<%= Data.TotalCost %>" id="amount" name="amount" required  readonly>
        </div>
        <div class="form-group col-sm-12 col-md-5" style="border: none;">
          <label for="inputPassword4">Email Address<Address></Address></label>
          <input type="email" style="margin-top: -15px;" class="form-control" value="<%= Data.Email %>" id="email-address" name="email-address" required readonly>
      </div>

    </div>

    <div class="form-row">
        <div class="form-group col-sm-12 col-md-5" style="border: none;">
            <label for="inputPassword4">Firstname</label>
            <input type="text" class="form-control" id="first-name" name="first-name" value="<%= Data.First_Name %>" required>
        </div>

        <div class="form-group col-sm-12 col-md-5" style="border: none;">
            <label for="inputPassword4">Surname</label>
            <input type="text" class="form-control" id="last-name" name="last-name" value="<%= Data.Other_Name %>" required>
        </div>



        <div class="form-group col-sm-12 col-md-10" style="border: none;">
            <label for="inputPassword4">CartID</label>
            <input type="text" class="form-control" value="<%= Data.CartID %>" id="CartID" name="CartID" required readonly>
        </div>

        <div class="form-group col-sm-12 col-md-5" style="border: none;">
            <label for="inputPassword4">Cartnumber</label>
            <input type="text" class="form-control" value="<%= Data.Identity %>" name="Identity" id="Identity" required  readonly>
        </div>

        <div class="form-group col-sm-12 col-md-5 " style="border: none;">
            <label for="inputPassword4">UserName</label>
            <input type="text" class="form-control" value="<%= Data.Username %>" name="UserName" id="UserName" required readonly>
        </div>

        <div class="form-group col-sm-12 col-md-5 " style="border: none;">
            <label for="inputPassword4">Telephone</label>
            <input type="text" class="form-control" value="<%= Data.TelephoneOne %>" name="Telephone" id="Telephone" required readonly>
        </div>

        <div class="form-group col-sm-12 col-md-5 " style="border: none;">
            <label for="inputPassword4">Reserve ID</label>
            <input type="text" class="form-control" value="<%= Data._id %>" name="Reserve_ID" id="Reserve_ID" required readonly>
        </div>

     
        
    </div>
    
    <div class="form-submit">
      <button  style="background-color: #a81010;" id="Paynowbtn"  class="btn btn-warning" > Pay Now </button>
    </div>


</div>
<br>
<br>
<br>






<div class="footer_bg" style="background-color: #EABB0B; left: 0; right: 0; bottom: 0;">
            <div class="wrap">
                <div class="footer">
                    <div class="copy">
                        <p class="link"><span style="color: #022247;">© All rights Reserved 2021 | Bonvas Tours Ltd</span></p>
                    </div>
                    <div class="f_nav">
                        <ul>
                            <li style="color:#022247;">
                                <a href="https:/bonvastours.com" style="color:black;">Company Information</a>
                            </li>
                            <li style="color: #022247;">
                                <a href="/TermsCon" style="color: black;">Terms & Conditions</a>
                            </li>
                            <li style="color: #022247;">
                                <a href="/users/CheckReservationLogin" style="color: black;">Manage Bookings</a>
                            </li>

                            <li style="color: #022247;">
                                <a href="/ContomerService" style="color: black;">Customer Service</a>
                            </li>
                           
                        </ul>
                    </div>
                    <div class="soc_icons" style="margin-top:10px;">
                        <ul style="color: white;">
                            <a href="https://web.facebook.com/bonvastours" style="margin-left:5px;">
                                <img width="30px;" src="../Assets/images/facebook.png">
                            </a>
                            <a href="https://twitter.com/BonvasGroup">
                                <img width="30px;" src="../Assets/images/twitter.png">
                            </a>
                            <a href="https://www.instagram.com/rideswiftnano">
                                <img width="30px;" src="../Assets/images/instagram.png">
                            </a>
                            <a href="https://www.instagram.com/rideswiftnano">
                                <img width="30px;" src="../Assets/images/linkedin.png">
                            </a>
                            <img width="30px;" src="../Assets/images/whatsapp.png">

                            <div class="clear"></div>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div> 
<script src="../Assets/vendor/jquery-3.2.1.min.js"></script> 
<script src="https://js.paystack.co/v1/inline.js"></script> 


<script>
    let amount = document.getElementById('amount').value
    let email_address = (document.getElementById('email-address').value).replace(/\s/g,'')
    let first_name = document.getElementById('first-name').value
    let last_name = (document.getElementById('last-name').value).trim()
    let CartID = (document.getElementById('CartID').value).replace(/\s/g,'')
    let Identity = (document.getElementById('Identity').value).replace(/\s/g,'')
    let UserName = (document.getElementById('UserName').value).replace(/\s/g,'')
    let Telephone = (document.getElementById('Telephone').value).trim()

    let Reserve_ID = (document.getElementById('Reserve_ID').value).trim()
    const paymentForm = document.getElementById('paymentForm');


alert('hi this')

    document.getElementById('Paynowbtn').addEventListener('click', function(){
        alert('22')
        let id = () => {
                 return Math.floor((1 + Math.random()) * 0x1000000000000)
                     .toString(16)
                     .substring(1);
               }
               let MyID = id()
               let transactionId = MyID+'_'+Telephone
               alert(transactionId)
               payWithPaystack(transactionId)
    })

 
 
    function payWithPaystack(transactionId) {
    //e.preventDefault();
    let handler = PaystackPop.setup({
        key: 'pk_test_ddb3a7af5817c8ebfcc6883b186bb647fcd52b66', // Replace with your public key
        email: document.getElementById("email-address").value,
        amount: document.getElementById("amount").value * 100,


        ref:  transactionId,// generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
        // label: "Optional string that replaces customer email"
        currency: 'GHS',
        channels: ['mobile_money', 'card'],
        first_name: first_name,
        last_name : last_name,
        metadata: {
            CartID :CartID,
             Identity: Identity,
        },
        onClose: function(){
        alert('Window closed.');
        },
         callback: function(response){
         let message = 'Payment complete! Reference: ' + response.reference;
         let Data = {reference: response.reference, CartID:CartID, Identity:Identity, email_address:email_address, Amount:amount, first_name:first_name, last_name:last_name, Telephone:Telephone, Reserve_ID:Reserve_ID }
         let DataString = JSON.stringify(Data)
         window.document.location =  '/Userpaymentverification'+DataString
        
       

var alertList = document.querySelectorAll('.alert')
alertList.forEach(function(alert) {
    new bootstrap.Alert(alert)
})
        }
    });
      handler.openIframe();
    }


    ///////////////////////////
    setTimeout(WarningTime, 420000)

    function WarningTime(){

    let CCC= confirm('Your time is running out. Do you want to continue with payment ??')
    if(CCC === true){
        
    }else{
        let Data = {PNRCODE: PNRCODE, last_name: last_name, Reserve_ID: Reserve_ID}
        window.location.href = '/'
  /*  $.ajax({
        type: 'POST',
        url: '/Admin/Auto_DeleteUpaidbadReservation',
        ContentType: 'application/json',
        data: Data,             
        success:  function(data){
          
        }
    });*/ 
    }
    }


  /*  setTimeout(CompleteDelete, 900000)
      function CompleteDelete(){
        let Data = {PNRCODE: PNRCODE, last_name: last_name, Reserve_ID: Reserve_ID, Adult_Number:Adult_Number, Travel_ID:Travel_ID}
    
        $.ajax({
            type: 'POST',
            url: '/Admin/Auto_DeleteUpaidbadReservation',
            ContentType: 'application/json',
            data: Data,             
            success:  function(data){
                alert('Sorry, You have exhausted your reservation time limit...')
                window.location.href = '/'
          }
        }); 
        
    }*/
    
</script>
</body>
</html>

